<style>
    a {
        text-decoration: none;
        cursor: pointer;
        color: blue;
        
    }
    .nav {
        display: flex;
      
    }
    .nav a {
        margin: 10px 20px;
    }
    
</style>
<h1>Welcome to this website</h1>
<hr>

<div class="nav">
<a href="{% url 'home'%}">Home</a> 
{% if user.is_authenticated%}
<a href="{%url 'profile' %}">Profile</a> 
<a href="{%url 'password_change'%}">Change password</a> 
{%if user.is_superuser%}
<a href="{%url  'admin:index' %}">Admin Area</a> 
{% endif %}
<a href="{%url 'logout'%}">Log Out</a>
{%else%}
<a href="{%url 'signup'%}">Signup</a>
<a href="{%url 'login'%}">login</a> 
{%endif%}
</div>
{%block content%} {%endblock%}

