{%extends 'base.html'%}
{%block content%}
<style>
    li {
        color:rgb(221, 183, 183);
        list-style:none;
        font-size: 12px;
    }
</style>
{% if validlink%}
<h1>
    Set new password!
</h1>
<form action="" method="POST">
    {% csrf_token %}

    {{form.as_p}}
    <button type="submit">Send confirmation link</button>
</form>
{%else%}
<h1 style="color: red;">Invalid Token!!</h1>
<a href="{% url 'password_reset'%}"><p>Request a new password reset Token</p></a>
{%endif%}
{%endblock%}